<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Lorem Fill Settings
        </title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <body id="lorem-fill-options" class="container">
        <div class="row">
            <div class='col-md-12 center'>
                <h1 class="lead">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Lorem Fill
                </h1>
                <hr/>
                <div id="options-container"></div>
            </div>
        </div>

        <script type="text/html" id="options-template">
            <div class="alert alert-success hidden" role="alert">Saved successfully</div>
            <h4>Settings</h4>
            <form>
                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="text" name="password" placeholder="Default value for password field" value="<%= password %>" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default on-reset-password" type="button">Reset</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>E-mail Domains (comma separated)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-send"></i></div>
                        <input type="text" name="domains" placeholder="Leave blank to generate random domain name" value="<%= domains %>" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default on-reset-domains" type="button">Reset</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Credit Card numbers (comma separated)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <input type="text" name="cc" placeholder="Leave blank to generate random VISA card numbers" class="form-control" value="<%= cc %>">
                        <span class="input-group-btn">
                            <button class="btn btn-default on-reset-cc" type="button">Reset</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input name='simulant' type="checkbox" <%= simulant ? 'checked' : '' %>> Use simulant.js for event invocation?
                    </label>
                  </div>
                </div>
                <p>
                    <button type="button" class="btn btn-danger submit">Save Changes</button>
                </p>
            </form>
        </script>
        <script src="js/libs/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/libs/backbone-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/libs/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/models/store.js"></script>
        <script src="js/views/options.js"></script>
        <script src="js/views/options.page.js"></script>
    </body>
</html>
